<ion-content [fullscreen]="true">
  <div class="container">
    <div class="container-info">
      <div class="container-info__img">
        <svg
          _ngcontent-ng-c377969184=""
          width="300"
          height="80"
          viewBox="0 0 300 80"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs _ngcontent-ng-c377969184="">
            <linearGradient
              _ngcontent-ng-c377969184=""
              id="gradient"
              x1="0%"
              y1="0%"
              x2="100%"
              y2="100%"
            >
              <stop
                _ngcontent-ng-c377969184=""
                offset="0%"
                stop-color="#B700A6"
              ></stop>
              <stop
                _ngcontent-ng-c377969184=""
                offset="50%"
                stop-color="#FB4D5F"
              ></stop>
              <stop
                _ngcontent-ng-c377969184=""
                offset="100%"
                stop-color="#FAC17A"
              ></stop>
            </linearGradient>
          </defs>
          <g _ngcontent-ng-c377969184="">
            <text
              _ngcontent-ng-c377969184=""
              x="10"
              y="50"
              font-family="'Poppins', sans-serif"
              font-size="50"
              fill="url(#gradient)"
            >
              Zulon
            </text>
            <text
              _ngcontent-ng-c377969184=""
              x="140"
              y="10"
              font-family="'Poppins', sans-serif"
              font-size="20"
              fill="white"
              dominant-baseline="middle"
              text-anchor="middle"
            >
              A
            </text>
            <text
              _ngcontent-ng-c377969184=""
              x="150"
              y="10"
              font-family="'Poppins', sans-serif"
              font-size="20"
              fill="white"
              dominant-baseline="middle"
              text-anchor="middle"
            >
              I
            </text>
            <circle
              _ngcontent-ng-c377969184=""
              cx="150"
              cy="20"
              r="10"
              fill="none"
              stroke="#005CFF"
              stroke-width="3"
              class="magnifying-glass"
            ></circle>
            <line
              _ngcontent-ng-c377969184=""
              x1="150"
              y1="20"
              x2="140"
              y2="50"
              stroke="#005CFF"
              stroke-width="3"
              class="magnifying-glass"
            ></line>
          </g>
        </svg>
      </div>
      <div class="container-info__text">
        <h3 class="welcome">Welcome !</h3>
        <p class="light-text">Please enter your login credentials.</p>
      </div>
    </div>

    <div class="container-form">
      <div class="form-group">
        <label for="username">Username</label>
        <div class="input-group flex gap-3 item-center mt-2" #username>
          <div>
            <img src="../../../assets/images/Profile.svg" alt="profile Icon" />
          </div>
          <input
            type="text"
            placeholder="Enter Username Here..."
            class="form-control"
            (focus)="focusedInputField(username)"
            (blur)="bluredInputField(username)"
            id="username"
          />
        </div>
      </div>

      <div class="form-group mt-4">
        <label for="password">Password</label>
        <div class="input-group flex item-center gap-3 mt-3" #password>
          <div>
            <img
              src="../../../assets/images/Password.svg"
              alt="Password Icon"
            />
          </div>
          <input
            id="password"
            type="password"
            placeholder="Enter Password Here..."
            class="form-control"
            (focus)="focusedInputField(password)"
            (blur)="bluredInputField(password)"
          />
        </div>
      </div>

      <div class="form-group mt-4">
        <input type="checkbox" id="rememberme" />
        <label for="rememberme" class="ps-2">Remember Me</label>
      </div>

      <div class="submission">
        <input type="submit" class="btn-form" value="Login" />
      </div>
    </div>
  </div>
</ion-content>
